@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 25.1%; /* neutral-700 */
    --foreground: 0 0% 96%; /* neutral-100 */
    --card: 0 0% 25.1%; /* neutral-700 */
    --card-foreground: 0 0% 96%; /* neutral-100 */
    --popover: 0 0% 25.1%; /* neutral-700 */
    --popover-foreground: 0 0% 96%; /* neutral-100 */
    --primary: 0 0% 80%; /* between neutral-300 and neutral-400 */
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 32%; /* neutral-600 */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 32%; /* neutral-600 */
    --muted-foreground: 0 0% 70%; /* between neutral-400 and neutral-500 */
    --accent: 0 0% 32%; /* neutral-600 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 45%; /* neutral-500 */
    --input: 0 0% 45%; /* neutral-500 */
    --ring: 0 0% 96%; /* neutral-100 */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
